<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {{ page_title }}
      {%- if current_tags %} - {{ current_tags | join: ', ' }}{% endif -%}
      {%- unless page_title contains shop.name %} - {{ shop.name }}{% endunless -%}
    </title>
    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}
    {{ content_for_header }}
    {{ 'auratech.css' | asset_url | stylesheet_tag }}
  </head>
  <body>
    <a class="skip-link" href="#MainContent">Skip to content</a>
    {% section 'announcement-bar' %}
    {% section 'site-header' %}

    <main id="MainContent">
      {{ content_for_layout }}
    </main>

    {% section 'site-footer' %}
    {{ 'auratech.js' | asset_url | script_tag }}
  </body>
</html>
